body {
  margin: 0;
  padding: 20px;
  font-family: Arial;
  font-size: 12pt;
  color: #424242
}

.app {
  text-align: left;
}

.app-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
  text-align: right;
}

.app-normal {
  filter: invert(0%);
}

.app-inverted {
  filter: invert(100%);
}